body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #F9F9F9;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(transparent, rgba(0, 0, 0, .8) 100%), url('1.png'), url('2.png') no-repeat, #000000;
  background-position: 0 0, 0 0, 100px 100px, 0 0;
  overflow: hidden;
}

#container {
  width: 320px;
  height: 451px;
  background-color: #222222;
  border: 1px solid #5374B6;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 4px;
  opacity: 0.9;
}

.button {
  width: 72px;
  height: 37px;
  float: left;
  margin: 2px;
  position: relative;
  background-color: #080808;
  font-size: 24px;
  text-align: center;
  padding-top: 3px;
  border: 2px solid #0d0d0d;
  cursor: default;
}

.button:hover {
  width: 72px;
  height: 37px;
  float: left;
  margin: 2px;
  position: relative;
  background-color: #414141;
  font-size: 24px;
  text-align: center;
  padding-top: 3px;
  border: 2px solid #505050;
  opacity: 0.8;
  cursor: default;
}

#display {
  width: 316px;
  height: 252px;
  margin: 2px;
  position: relative;
  font-size: 24px;
  text-align: right;
  padding-top: 3px;
  opacity: 0.8;
  overflow: hidden;
}

#displayInput {
  width: 303px;
  height: 58px;
  top: 3px;
  position: relative;
  text-align: right;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #F9F9F9;
  font-weight: bold;
}

#history {
  width: 317px;
  height: 190px;
  position: relative;
  text-align: right;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #F9F9F9;
  display: table-cell;
  vertical-align: bottom;
}
#phantom{
  display: none;
}