<footer class="footer">
  <span class="footer-top-line"></span>
  <div class="container">
    <div id="contact" class="footer-body">
      <div class="footer-body__section footer-info">
        <img class="footer-info__logo" src="../img/logo.png" alt="">
        <p class="footer-info__text">eusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
          laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="footer-body__section footer-subscribe">
        <p class="footer-subscribe__title">Subscribe</p>
        <input type="text" class="footer-subscribe__input">
        <span>
          <button>
            <img src="../img/arrow.png" alt="">
          </button>
        </span>
        <p class="footer-subscribe__text">eusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <div class="footer-body__section footer-explore">
        <p class="footer-explore__title">Explore</p>
        <div class="footer-explore__list-container">
          <ul class="footer-explore__list">
            <li><a href="#">Envato</a></li>
            <li><a href="#">Themecurve</a></li>
            <li><a href="#">Kreative</a></li>
            <li><a href="#">Freebiescurve</a></li>
          </ul>
          <ul class="footer-explore__list">
            <li><a href="#">Themeforest</a></li>
            <li><a href="#">Microsoft</a></li>
            <li><a href="#">Google</a></li>
            <li><a href="#">Yahoo</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-body__section footer-rigts">
        <p class="footer-rigts__created">
          Created with &nbsp;&nbsp;
          <img src="../img/heart-grey.png" alt=""> &nbsp;&nbsp; by
          <span>themecurve</span>, exclusive for kreativeshowcase
        </p>
        <p class="footer-rigts__sign">
          © 2014 Brandi. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
<script src="js/libs.js"></script>
<script src="js/main.js"></script>
</body>

</html>