<header class="header">

  <div class="container">
    <div class="header-body">
      <div class="header-body__logo">
        <a href="" class="logo">
          <img src="img/logo.png" alt="">
        </a>
      </div>
      <div class="header-body__search">
        <input type="text" class="search" placeholder="I am your tag line">
      </div>
      <button class="header-body__burger header-burger">
        <span class="header-burger__line-1 header-burger__line"></span>
        <span class="header-burger__line-2 header-burger__line"></span>
        <span class="header-burger__line-3 header-burger__line"></span>
      </button>
      <nav class="header-body__nav">
        <ul class="header-nav">
          <li class="header-nav__item">
            <a href="#">Home</a>
          </li>
          <li class="header-nav__item">
            <a href="#features">Features</a>
          </li>
          <li class="header-nav__item">
            <a href="#works">Works</a>
          </li>
          <li class="header-nav__item">
            <a href="#team">Team</a>
          </li>
          <li class="header-nav__item">
            <a href="#discuss">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>