body {
  margin: 0;
  padding: 0;
  background: url(IMG/8379.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-flow: row;
  min-height: 100%;
  text-align: center;
}

header {
  text-align: center;
  background-color: #212121;
  box-shadow: 0 3px 5px #111111;
  color: #fff;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
  flex: 1;
  flex-flow: row wrap;
}

footer {
  height: 100px;
  border: 1px solid #000000;
  background-color: #212121;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 3px 5px #111111;
  color: #fff;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
  flex: 1;
  flex-flow: column wrap;
}

.container {
  height: auto;
  top: 100px;
  display: flex;
  flex-flow: column wrap;
  width: calc(100% - 310px);
}

.cart {
  background-image: url(IMG/shoppingcart.png);
  width: 35%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
}
.sumary {
  width: 65%;
  height: 200px;
  float: left;
  font-size: 22px;
}

.drop {
  flex: 1 300px;
  margin: 3px;
  background: #00000050;
}

.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1 1 250px;
}

.gridItem {
  margin-bottom: 30px;
  flex: 0 1 calc(20% - 30px * 2/5);
  background-color: #85c657b3;
  border: 1px solid #000000;
  transition-duration: 0.3s;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  min-width: 250px;
  min-height: 320px;
  padding: 15px 0 0 0;
  
}

.fly {
  margin-bottom: 30px;
  flex: 0 1 calc(20% - 30px * 2/5);
  background-color: #85cf51e6;
  border: 1px solid #000000;
  text-align: center;
  transition-duration: 0.3s;
  box-shadow: 10px 10px 67px 33px rgba(0, 0, 0, 0.75);
  min-width: 250px;
  min-height: 320px;
  transform: scale(1.05);
}

.gridImg {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 30px;
}

.sqr {
  width: 200px;
  height: 200px;
  background: #fff;
  text-align: center;
  padding: 50px 0 0 0;
  margin: 0 auto;
}

.sum {
  width: 100%;
  font-size: 19px;
  float: left;
}

.image {
  height: 150px;
}
