<!DOCTYPE html>
<html lang="en" ng-app="testApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modal Test</title>
    <link rel="shortcut icon" href="./lib/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="modalTest.css">

</head>

<body ng-controller="testCtrl" class="bg-dark text-white">
    <div class="container">
    <!-- Button trigger modal -->
    <h1>В черной черной комнате, за черным черным столом нужно пройти черный черный тест...</h1>
        <button type="button" class="btn btn-primary col-12" data-toggle="modal" data-target="#exampleModalCenter">
            <h3>Бежать!!!</h3>
        </button>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title col-3" id="exampleModalLongTitle">Тест</h5>
                    <div class="btn-group mr-5 col-6" role="group" aria-label="First group" >
                        <button type="button" class="btn btn-success" ng-click="showList($index)" ng-disabled="(qestion.disabled)" ng-repeat="qestion in questions"> {{qestion.id}} </button>

                    </div>
                    <div class="btn-group col2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-info" ng-click="result()">Результаты</button>
                    </div>
                    <button type="button" class="close  col-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <ng-include src="url"></ng-include>

            </div>
        </div>
    </div>
</div>

    <script src="jquery-3.3.1.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="modalTest.js"></script>
</body>

</html>