<!DOCTYPE html>
<html lang="en" ng-app="testApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="modalTest.css">

</head>

<body ng-controller="testCtrl">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary justify-content-center" data-toggle="modal" data-target="#exampleModalCenter">
        Пройти тест
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title col-3" id="exampleModalLongTitle">Тест</h5>
                    <div class="btn-group mr-5 col-6" role="group" aria-label="First group">
                        <button type="button" class="btn btn-success" ng-click="showList(0)">&nbsp;&nbsp; 1 &nbsp;&nbsp;</button>
                        <button type="button" class="btn btn-success" ng-click="showList(1)">&nbsp;&nbsp; 2 &nbsp;&nbsp;</button>
                        <button type="button" class="btn btn-success" ng-click="showList(2)">&nbsp;&nbsp; 3 &nbsp;&nbsp;</button>
                        <button type="button" class="btn btn-success" ng-click="showList(3)">&nbsp;&nbsp; 4 &nbsp;&nbsp;</button>
                        <button type="button" class="btn btn-success" ng-click="showList(4)">&nbsp;&nbsp; 5 &nbsp;&nbsp;</button>
                    </div>
                    <div class="btn-group col2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-info">Завершить</button>
                    </div>
                    <button type="button" class="close  col-1" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <ng-include src="url"></ng-include>
                <!-- <div class="modal-body">
                    Level 1: .col-sm-9 Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, aspernatur veritatis esse deleniti
                    ipsa doloribus assumenda explicabo repellat magnam. Facilis.

                </div>
                <div class="modal-footer justify-content-center">
                    <div class="row">
                        <ul class="list-group col-12 ml-2 ">
                            <li class="list-group-item">
                                <label for="">
                                    <input id="switch1" name="switch" type="radio" />
                                    <span class="ml-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. A, commodi. Lorem ipsum dolor
                                        sit, amet consectetur adipisicing elit. Fuga cumque est quisquam</span>
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label for="">
                                    <input id="switch2" name="switch" type="radio" />
                                    <span class="ml-2"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga cumque est quisquam</span>
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label for="">
                                    <input id="switch3" name="switch" type="radio" />
                                    <span class="ml-2"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga cumque est quisquam</span>
                                </label>
                            </li>
                            <li class="list-group-item">
                                <label for="">
                                    <input id="switch4" name="switch" type="radio" />
                                    <span class="ml-2"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga cumque est quisquam</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="angular.min.js"></script>
    <script src="modalTest.js"></script>
</body>

</html>