<div class="modal-body bg-secondary text-white" style="min-height:80px">
  {{q.q}}
</div>
<div class="modal-footer bg-secondary text-white justify-content-center">
  <div class="row">
    <ul class="list-group bg-secondary text-white col-12 ml-2 px-5 ">
      <li class="list-group-item bg-secondary text-white">
          <input id="1" name="switch" type="radio" value="1" ng-model="check" ng-click="checkAll(check)" ng-checked="checked" ng-disabled="check"/>
          <span class="ml-2"> {{q.a1}} </span>
      </li>
      <li class="list-group-item bg-secondary text-white">
          <input id="2" name="switch" type="radio" value="2" ng-model="check" ng-click="checkAll(check)" ng-checked="checked" ng-disabled="check"/>
          <span class="ml-2"> {{q.a2}} </span>
      </li>
      <li class="list-group-item bg-secondary text-white">
          <input id="3" name="switch" type="radio" value="3" ng-model="check" ng-click="checkAll(check)" ng-checked="checked" ng-disabled="check"/>
          <span class="ml-2"> {{q.a3}} </span>
      </li>
      <li class="list-group-item bg-secondary text-white">
          <input id="4" name="switch" type="radio" value="4" ng-model="check" ng-click="checkAll(check)" ng-checked="checked" ng-disabled="check"/>
          <span class="ml-2"> {{q.a4}} </span>
      </li>
    </ul>
  </div>
</div>
