<div class="modal-body">
  {{q.q}}
</div>
<div class="modal-footer justify-content-center">
  <div class="row">
    <ul class="list-group col-12 ml-2 ">
      <li class="list-group-item">
        <label for="">
          <input id="1" name="switch" type="radio" value="1" ng-model="check" ng-change="checkAll(check)" />
          <span class="ml-2"> {{q.a1}} </span>
        </label>
      </li>
      <li class="list-group-item">
        <label for="">
          <input id="2" name="switch" type="radio" value="2" ng-model="check" ng-change="checkAll(check)" />
          <span class="ml-2"> {{q.a2}} </span>
        </label>
      </li>
      <li class="list-group-item">
        <label for="">
          <input id="3" name="switch" type="radio" value="3" ng-model="check" ng-change="checkAll(check)" />
          <span class="ml-2"> {{q.a3}} </span>
        </label>
      </li>
      <li class="list-group-item">
        <label for="">
          <input id="4" name="switch" type="radio" value="4" ng-model="check" ng-change="checkAll(check)" />
          <span class="ml-2"> {{q.a4}} </span>
        </label>
      </li>
    </ul>
  </div>
</div>
