body {
  background-color: rgb(35, 35, 35);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#stopwatch {
  width: 300px;
  height: 120px;
  position: relative;
  top: 130px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: rgb(20, 20, 20);
  border: 3px solid rgb(30, 30, 30);
}

.screen {
  width: 55px;
  height: 50px;
  position: absolute;
  top: 55px;
  margin: auto;
  font-size: 40px;
  text-align: center;
  border: rgb(20, 20, 20);
  color: #e1e1e1;
}

#lapTimeBlock {
  width: 300px;
  height: auto;
  position: relative;
  top: 130px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background-color: rgb(20, 20, 20);
  border: 3px solid rgb(30, 30, 30);
}
.lapTimeBlockP{
  font-size: 15px;
  color:#fff;
  text-align: center;
}

.buttons {
  width: 40px;
  height: 40px;
  position: relative;
  float: left;
  margin: 10px;
  margin-left: 23px;
  border-radius: 20px;
}

#start {
  background: url(play.png);
  background-size: cover;
  cursor: pointer;
}

#pause {
  background: url(pause.png);
  background-size: cover;
  cursor: pointer;
}

#cancel {
  background: url(stop.png);
  background-size: cover;
  cursor: pointer;
}

#lap {
  background: url(flag.png);
  background-size: 62%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  left: 223px;
  bottom: 5px;
}

  #refresh{
  background: url(refresh.png);
  background-size: cover;
  cursor: pointer;
  }
#min {
  left: 30px;
  pointer-events: none;
}

#sec {
  left: 97px;
  pointer-events: none;
}

#mil {
  left: 168px;
  pointer-events: none;
}
.separ{
  width: 10px;
  height: 50px;
  position: relative;
  float: left;
  margin-left: 58px;
  font-size: 40px;
  color: #e1e1e1;
  right: 53px;
  pointer-events: none;
  bottom: 7px;
}